.accordion__button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  text-align: left;
  width: 100%;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
}

.accordion.active .accordion__content {
  max-height: 100%;
}
